header {
    background-color: #4545da;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

    .w-100 {
        width: 100%;
    }

        .a-active {
            color: #1a1a8d;
            background-color: white;
        }