<header>
    <mat-toolbar color="primary">
        <div class="row middle-md between-md w-100">
            <div class="col-md-2">
                <span routerLink="/"> {{ title }} </span>
            </div>
            <div class="col-md-3">
                <div class="row end-md">
                    <div class="col-md-9">
                        <nav>
                            <a mat-button routerLinkActive="a-active" routerLink="/home">Home</a>
                            <a mat-button routerLinkActive="a-active" routerLink="/products">Products</a>
                            <a mat-button routerLinkActive="a-active" routerLink="/contact">Contact</a>
                        </nav>
                    </div>
                    <div class="col-md-3">
                        <button mat-icon-button >
                            <mat-icon matBadge="5" matBadgeColor="warn" matBadgeSize="small">shopping_cart</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </mat-toolbar>
</header>
