<header>
    <div class="main-title" routerLink="/">
        <h1> {{ title }} </h1>
    </div>
    <nav class="router-nav">
        <div class="a-router" routerLinkActive="a-active">
            <a routerLink="/home">Home</a>
        </div>
        <div class="a-router" routerLinkActive="a-active">
            <a routerLink="/products">Products</a>
        </div>
        <div class="a-router" routerLinkActive="a-active">
            <a routerLink="/contact">Contact</a>
        </div>
    </nav>
</header>
