<div class="container" *ngIf="product !== undefined">
    <button mat-flat-button color="primary" type="button" routerLink="/products">Back</button>
    <div class="image-container">
        <img [src]="product.image" alt="">
    </div>
    <div>
        <ul>
            <li>Product: {{ product.title }}</li>
            <li>Price: {{ product.price | currency | currencyMxn }}</li>
        </ul>
        <p>Description: {{ product.description }}</p>
    </div>
    <button (click)="updProduct()">click me for update</button>
    <button (click)="delProduct()">click me for delete</button>
</div>
<div class="container" *ngIf="product === undefined">
    <button class="btn-back" type="button" routerLink="/products">Back</button>
    <p>
        Not found this product
    </p>
</div>
