<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h3> {{ product.title }} </h3>
        </mat-card-title>
    </mat-card-header>
    <img mat-card-image [routerLink]="['/products', product.id]" [src]="product.image">
    <mat-card-content>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem dolorem in, fugiat suscipit.
            <strong>Price: {{ product.price|currency|currencyMxn}} </strong>
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary" type="button" (click)="addCart(product.title)">Añadir al carrito</button>
    </mat-card-actions>
</mat-card>
